<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <ion-card>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/images/logo.svg" alt="SNCF">
      </ion-thumbnail >
      <h2>com.sncf.ionic2</h2>
      <p>ionic 2 sncf starter kit with sidemenu template</p>
    </ion-item>
  </ion-card>

</ion-content>