<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mur</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

  <ion-refresher (ionRefresh)="activate($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab right bottom>
    <a href="#/duffades/new" ion-fab color="primary"><ion-icon name="add"></ion-icon></a>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let item of duffades">

      <ion-item>
        <ion-avatar item-left>
          <img src="{{item.get('target').get('picture').url()}}" title="{{item.get('target').get('username')}}">
        </ion-avatar>
        <h2>{{item.get('title')}}</h2>
        <p>By {{item.get('author').get('username')}}</p>
      </ion-item>

      <ion-card-content>
        <p>{{item.get('description')}}</p>
        <img src="{{item.get('picture').url()}}">
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>